.container {
   display: flex;
    flex-direction: column;
    padding: 20px;
}

.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: #a92121;
}

.red-text {
    color: black;
}

.light {
    background: #f3f1f9;
}

.light-text {
    color: darkslateblue;
}

.purple {
    background: #d3bcff;
}

.purple-text {
    color: white;
}

