.buttonStyle {
    margin: 10px 0;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    font-size: 16px;

}

.buttonStyle:hover {
    cursor: pointer;
    background: cornflowerblue;
}

.buttonStyle:active {
    box-shadow: 0 0 10px black;
    outline: none;
}


.default {
    background: dodgerblue;
    font-style: italic;
}

.red {
    background: red;
}

